<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="games.calico.imagepicker">

    <queries>
        <intent>
            <!-- Required for picking images from the camera roll if targeting API 30 -->
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Only needed for API 29 and below when saving camera images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Required for picking images from camera directly -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <!-- https://developer.android.com/guide/topics/manifest/provider-element.html -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <activity
            android:name=".ImagePickerCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerCropTheme"/>
    </application>
</manifest>